<header class="header">
    <div class="header__wrapper">
        <div class="header__menu">
            <a class="header__menu__wrapper">
                <span class="header__menu__logo"></span>
                <span class="header__menu__txt">Front-End</span>
            </a>
            <div class="header__burger" data-js="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <nav class="header__nav" data-js="nav">
            <ul class="header__nav__items">
                <li class="header__nav__item"><a class="header__nav__link" role="button" href="#news" data-js="nav-link">Wiadomości</a></li>
                <li class="header__nav__item"><a class="header__nav__link" role="button" href="#technologies" data-js="nav-link">Technologie</a></li>
            </ul>
        </nav>
    </div>
</header>
