<div class="swiper" data-js="swiper">
    <div class="swiper__container">
        <div class="swiper__slide is--active" data-js="swiper-slide" data-slide="1">
            <img srcset="/images/hero.png 480w, /images/heromd.png 800w" 
                sizes="(max-width: 500px) 480px, 800px" 
                src="/images/hero.png" alt="zdjecie slide 1">
        </div>
        <div class="swiper__slide" data-js="swiper-slide" data-slide="2">
            <img srcset="/images/hero2.png 480w, /images/hero2md.png 800w" 
                sizes="(max-width: 500px) 480px, 800px" 
                src="/images/hero2.png" alt="zdjecie slide 2">
        </div>
        <div class="swiper__slide" data-js="swiper-slide" data-slide="3">
            <img srcset="/images/hero3.png 480w, /images/hero3md.png 800w" 
                sizes="(max-width: 500px) 480px, 800px" 
                src="/images/hero3.png" alt="zdjecie slide 3">
        </div>
    </div>
    <div class="swiper__pagination" data-js="swiper-pagination">
    </div>
</div>
