/* breakpoints */
$mobile-sm: 414px;
$mobile-md: 480px;

$tablet-sm: 768px;
$tablet-md: 1024px;

$desktop-xs: 1200px;
$desktop-sm: 1366px;
$desktop-md: 1680px;


/* colors */
$black: #000000;
$white: #ffffff;
$orange: #F49E4C;
$orange-dark:#E06D00;
$red: #EB5757;
$grey: #272727;
$grey2: #7D7C83;
$grey3: #f7f9fb;
$blue: #118AB2;
